#map-canvas, #map_canvas {
  height: 400px;
}
@media print {
  html, body {
    height: auto;
  }

#map-canvas, #map_canvas {
    height: 650px;
  }
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

.searchResults {
min-height: 0px;
display: block !important;
}
.horizontalMenu{
	width: 400px;
}

.result
{
	text-decoration: underline;
}